params {
    // Default parameters
    inputFile = ""
    outdir = "Thesis_PCA_vs_AE"
}

process {
    // Global process directives
    executor = 'local'
    cpus = 1
    memory = '3GB'

    // Output directories for each process
    withName:DataPreprocessing {
        publishDir "${params.outdir}/DataPreprocessing", mode: 'copy'
    }
    withName:AutoencoderTraining {
        publishDir "${params.outdir}/AutoencoderTraining", mode: 'copy'
    }
    withName:IdentifyTopGenes {
        publishDir "${params.outdir}/IdentifyTopGenes", mode: 'copy'
    }
    withName:PCAAnalysis {
        publishDir "${params.outdir}/PCAAnalysis", mode: 'copy'
    }
    withName:GeneOverlapAnalysis {
        publishDir "${params.outdir}/GeneOverlapAnalysis", mode: 'copy'
    }
    withName:NetworkAnalysis {
        publishDir "${params.outdir}/NetworkAnalysis", mode: 'copy'
    }
}

profiles {
    singularity {
        process.container = "library://qaswara98/dir/thesis_pca_vs_ae:v1.0"
        singularity.enabled = true
    }
}
